<header>
    <div class="top">
        <h3></h3>
    </div>
    <div class="bottom">
        <img src="assets/images/Chetana Logo.svg" alt="">
        <div class="navbar" *ngFor="let datas of headerData">
            <ul>
                <li ngbDropdown class="nav-item">
                    <a [href]="datas.link" (click)="false" class="nav-link" ngbDropdownToggle>{{datas.nav}}</a>
                    <div ngbDropdownMenu *ngFor="let data of datas.child">
                        <a class="dropdown-item" [href]="data.url">{{data.dropdown}}</a>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>