header{
    width: 100%;
    height: 25vh;
    /* border: 1px solid black; */
    .top{
        width: 100%;
        height: 20%;
        background-color: rgba(0, 51, 153, 1);
    }
    .bottom{
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 1% 2%;

        img{
            width: 25%;
            height: 100%;
        }
        .navbar{
            width: auto;
            max-width: 70%;
            height: 30%;
            font-weight: 500;
            /* border: 1px solid black; */
            ul{
                display: flex;
                list-style: none;
                li{
                    margin-right: 2rem;
                .dropdown-list{
                    border-radius: 0px 0px 5px 5px;
                    background-color: rgba(0, 51, 153, 1);
                a{
                    color: white;
                }
                }
            }
            }
            }
        }
    }