.about {
    width: 100%;
    margin-bottom: 40px;
    display: flex;

    justify-content: center;
    padding: 0 60px;
    gap: 18px
}

.photo {
    // background-image: url(assets/images/ChetanaJC.svg);
    // background-repeat: no-repeat;
    background-size: cover;

    img {
        width: 510px;
        height: 440;
    }
}

.details {
    // padding-left: 4%;
    width: 50%;
    font-size: 22px;
    font-family: 'Ubuntu';

    p {
        padding: 0 20px;
        line-height: 22px;
        font-size: 500;
    }
}