@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

.table{
    margin: 0 auto;
    margin-top: 10px;
   

    
    th{
    background: linear-gradient(180deg, #03359A 0%, #4D70B8 100%);
    color: #FFFFFF;
    font-family: 'Ubuntu';
     
}}

.accordion{
    margin-top: 10px;
    .accordion-button{
    background: linear-gradient(180deg, #03359A 0%, #4D70B8 100%);
    color: #FFFFFF;
    font-family: 'Ubuntu';
   

}}

