<div class=" container contactform">

    <div>
        <form>
            <h3>LEAVE A MESSAGE</h3>
            <p>I must explain to you how all this a mistaken idea of ncing great explorer of the rut the is lder of
                human happinescias unde omnis iste natus error sit volptatem</p>
            <div class="form">
                <div class="common">
                    <label for="fname">First name:</label>
                    <input class="input" type="text" id="fname" name="fname" [(ngModel)]="dataModel">
                </div>
                <div class="common">
                    <label for="lname">Last name:</label>
                    <input class="input" type="text" id="lname" name="lname" [(ngModel)]="dataModel1">
                </div>
                <div class="common">
                    <label for="contact">Contact:</label>
                    <input class="input" type="text" id="contact" name="contact" [(ngModel)]="dataModel2">
                </div>
                <div class="common">
                    <label for="your-message">Your Mesaage:</label>
                    <input class="message" type="text" id="contact" name="contact" [(ngModel)]="dataModel3">
                </div>
                <button type="submit" value="Submit" (click)="sendData()">Submit</button>
            </div>
        </form>
    </div>
</div>