














.container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.card-container {
    width: 25rem;
    height: 27rem;
    background: rgba(217, 217, 217, 0.37);
    box-shadow:  5px 6px 3px rgba(0, 0, 0, 0.25);

    justify-content: space-between;
    // padding: 25px;
    margin:20px 15px 56px 15px; 
}
.left{
   
    img{
       width: 25rem;
       height: 14rem;
    }
    .dates{
        max-width: 58px;
        max-height: 56px;
       background: rgba(0, 51, 153, 0.47);
       position: relative;
       top: -181px;
    }
    h4{
        color: whitesmoke;
        text-align: center;
    }
}
.right{
    margin: -48px 20px;
    width: 23rem;
    height: 12rem;
    
    gap:1rem;
    flex-wrap: nowrap;
    font-family: 'Ubuntu';
    h4{
        // margin-top: 20px;
        font-family: 'Ubuntu';
        font-size: 19px;
        // text-align:  left;
    }
}
button {
    // align-items: left;
    width: 96.56px;
    height: 27px;
    border: 2px solid #003399;
    box-shadow: 1px 2px 0 rgb(0, 51, 153,0.5);
    border-radius: 10px;
    font-size: 13px;
    // align-items: left;
    a{
        color:#003399
    }
}