<!-- <app-event-sub1></app-event-sub1> -->
<div class="gapping" *ngFor="let data of pages[0].component">
<app-button-cmp1 [Text]="data.metadata.info" *ngIf="data.compId === 1"></app-button-cmp1>
<app-right-txt-left-img1 [details]="data.metadata.info5" *ngIf="data.compId === 1"></app-right-txt-left-img1>

<app-button-cmp1 [Text]="data.metadata.info1" *ngIf="data.compId === 1"></app-button-cmp1>
<app-right-txt-left-img1 [details]="data.metadata.info5" *ngIf="data.compId === 1"></app-right-txt-left-img1>

<app-button-cmp1 [Text]="data.metadata.info2" *ngIf="data.compId === 1"></app-button-cmp1>
<app-right-txt-left-img1 [details]="data.metadata.info5" *ngIf="data.compId === 1"></app-right-txt-left-img1>

<app-button-cmp1 [Text]="data.metadata.info3" *ngIf="data.compId === 1"></app-button-cmp1>
<app-right-txt-left-img1 [details]="data.metadata.info5" *ngIf="data.compId === 1"></app-right-txt-left-img1>

<app-button-cmp1 [Text]="data.metadata.info4" *ngIf="data.compId === 1"></app-button-cmp1>
<app-right-txt-left-img1 [details]="data.metadata.info5" *ngIf="data.compId === 1"></app-right-txt-left-img1>
</div>