<div *ngIf="supportdata">
    <div class="gapping" *ngFor="let data of pages[0].component">
        <app-image-cmp1 [AboutBanner]="data.metadata" *ngIf="data.compId===0"></app-image-cmp1>

        <app-button-cmp1 [Text]="data.metadata.antiHeader" *ngIf="data.compId === 1"></app-button-cmp1>
        <app-right-txt-left-img1 [details]="data.metadata.antiData" *ngIf="data.compId === 1"></app-right-txt-left-img1>

        <app-button-cmp1 [Text]="data.metadata.nssHeader" *ngIf="data.compId === 1"></app-button-cmp1>
        <app-left-txt-right-text [details]="data.metadata.nssData" *ngIf="data.compId === 1"></app-left-txt-right-text>
        <!-- <app-right-txt-left-img1 [details]="data.metadata.nssData" *ngIf="data.compId === 1"></app-right-txt-left-img1> -->

        <app-button-cmp1 [Text]="data.metadata.nccHeader" *ngIf="data.compId === 1"></app-button-cmp1>
        <app-right-txt-left-img1 [details]="data.metadata.nccData" *ngIf="data.compId === 1"></app-right-txt-left-img1>

        <app-button-cmp1 [Text]="data.metadata.eqcHeader" *ngIf="data.compId === 1"></app-button-cmp1>
        <app-left-txt-right-text [details]="data.metadata.nssData" *ngIf="data.compId === 1"></app-left-txt-right-text>
        <!-- <app-right-txt-left-img1 [details]="data.metadata.eqcData" *ngIf="data.compId === 1"></app-right-txt-left-img1> -->

        <app-button-cmp1 [Text]="data.metadata.scHeader" *ngIf="data.compId === 1"></app-button-cmp1>
        <app-right-txt-left-img1 [details]="data.metadata.scData" *ngIf="data.compId === 1"></app-right-txt-left-img1>
    </div>
</div>


<div *ngIf="wdcdata">
    <!-- coming -->

    <div *ngFor="let data of pages[1]?.component">
        <!-- coming -->
        <app-image-cmp1 [AboutBanner]="data.metadata" *ngIf="data.compId===1"></app-image-cmp1>
        <app-button-cmp1 [Text]="data.metadata.buttonData" *ngIf="data.compId === 2"></app-button-cmp1>
        <app-text-cmp1 [datas]="data.metadata.dataText" *ngIf="data.compId===2"></app-text-cmp1>
        <app-button-cmp1 [Text]="data.metadata.buttonData2" *ngIf="data.compId === 2"></app-button-cmp1>
        <app-text-cmp1 [datas]="data.metadata.dataText2" *ngIf="data.compId===2"></app-text-cmp1>
        <app-button-cmp1 [Text]="data.metadata.teamHeader" *ngIf="data.compId===3"></app-button-cmp1>
        <app-infocard [cardGroup]="data.metadata" *ngIf="data.compId === 3"></app-infocard>

    </div>
</div>

<div *ngIf="gvtdata">
    <!-- coming -->

    <div *ngFor="let data of pages[2]?.component">
        <!-- coming -->
        <app-image-cmp1 [AboutBanner]="data.metadata" *ngIf="data.compId===2"></app-image-cmp1>

        <app-button-cmp1 [Text]="data.metadata.buttonData" *ngIf="data.compId === 3"></app-button-cmp1>
        <app-text-cmp1 [datas]="data.metadata.dataText" *ngIf="data.compId===3"></app-text-cmp1>

        <app-button-cmp1 [Text]="data.metadata.buttonData2" *ngIf="data.compId === 3"></app-button-cmp1>
        <app-text-cmp1 [datas]="data.metadata.dataText2" *ngIf="data.compId===3"></app-text-cmp1>

        <app-button-cmp1 [Text]="data.metadata.buttonData3" *ngIf="data.compId === 3"></app-button-cmp1>
        <app-text-cmp1 [datas]="data.metadata.dataText3" *ngIf="data.compId===3"></app-text-cmp1>

        <app-button-cmp1 [Text]="data.metadata.buttonData4" *ngIf="data.compId === 3"></app-button-cmp1>
        <app-text-cmp1 [datas]="data.metadata.dataText4" *ngIf="data.compId===3"></app-text-cmp1>
    </div>
</div>

<div *ngIf="workshopData">
    <div class="workshop" *ngFor="let data of pages[3]?.component">
        <app-image-cmp1 [AboutBanner]="data.metadata" *ngIf="data.compId===0"></app-image-cmp1>
        <app-button-cmp1 [Text]="data.metadata" *ngIf="data.compId === 1"></app-button-cmp1>
        <app-place-table [tableData]="data.metadata" *ngIf="data.compId === 2"></app-place-table>
        <app-button-cmp1 [Text]="data.metadata.header" *ngIf="data.compId===3"></app-button-cmp1>
        <app-place-table [tableData]="data.metadata.table" *ngIf="data.compId ===3"></app-place-table>
        <app-button-cmp1 [Text]="data.metadata.header" *ngIf="data.compId===4"></app-button-cmp1>
        <app-place-table [tableData]="data.metadata.table" *ngIf="data.compId===4"></app-place-table>
        <app-button-cmp1 [Text]="data.metadata.header" *ngIf="data.compId ===5"></app-button-cmp1>
        <app-text-cmp1 [datas]="data.metadata.text" *ngIf="data.compId === 5"></app-text-cmp1>
    </div>
</div>

<div *ngIf="antiraggingData">
    <div class="anti-ragging" *ngFor="let data of pages[4]?.component">
        <app-image-cmp1 [AboutBanner]="data.metadata" *ngIf="data.compId===0"></app-image-cmp1>
        
        <app-button-cmp1 [Text]="data.metadata.header" *ngIf="data.compId===1"></app-button-cmp1>
        <app-text-cmp1 [datas]="data.metadata.text" *ngIf="data.compId===1"></app-text-cmp1>

        <app-accordian-dropdwn [DropDownData]="data.metadata" *ngIf="data.compId===2"></app-accordian-dropdwn>

        <app-accordian-dropdwn [DropDownData]="data.metadata" *ngIf="data.compId===3"></app-accordian-dropdwn>

        <app-accordian-dropdwn [DropDownData]="data.metadata" *ngIf="data.compId===4"></app-accordian-dropdwn>
    </div>
</div>