table {
    width: 100%;
    tr {
        th {
            font-size: 20px;
            background-color: blue;
            color: white;
            text-align: center;
        }
        td{
            background-color: rgb(123, 123, 240);
        }
    }
}