<div class="container">
    <!-- <table>
        <tr>
          <th>Name</th>
          <th>Company</th>
          <th>Post</th>
          <th>Year</th>
        </tr>
        <tr>
          <td>Alfreds Futterkiste</td>
          <td>Maria Anders</td>
          <td>Germany</td>
          <td>Germany</td>
        </tr>
        <tr>
          <td>Centro comercial Moctezuma</td>
          <td>Francisco Chang</td>
          <td>Mexico</td>
          <td>Germany</td>
        </tr>
      </table> -->
      <table>
        <thead class="head">
          <tr class="TableHeader">
            <th>NAME</th>
            <th>COMPANY</th>
            <th>POST</th>
            <th>YEAR</th>
          </tr>
      </thead>
        <tr>
          <td>Shubham V.Todankar</td>
          <td>WebAppZap</td>
          <td>Web Designar</td>
          <td>2020-2023</td>
        </tr>
        <tr>
          <td>Lovepreet Kaur Salgotra</td>
          <td>WebAppZap</td>
          <td>Web Developer</td>
          <td>2020-2023</td>
        </tr>
        <tr>
          <td>Aashish Sharma</td>
          <td>WebAppZap</td>
          <td>Web Designar</td>
          <td>2020-2023</td>
        </tr>
        <tr>
          <td>Ritesh Sharma</td>
          <td>WebAppZap</td>
          <td>Web Developer</td>
          <td>2020-2023</td>
        </tr>
        <tr>
          <td>Ghazala Shaikh</td>
          <td>T.Y.I.T.</td>
          <td>Bina Kaam ki C.R.</td>
          <td>2020-2023</td>
        </tr>
        <tr>
          <td>Pankaj Vishvakarma</td>
          <td>WebAppZap</td>
          <td>Web Developer</td>
          <td>2020-2023</td>
        </tr>
      </table>
</div>

