@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


/* .carousel {
    width: 100%;
    height: 65vh;
    margin-bottom: 10px;
    ::ng-deep {
        .carousel-inner{
            height: 57vh;
            .carousel-item {
                width: 100%;
                height: 100%;
                .hoverpage {
                    position: absolute;
                    width: 100%;
                    height: 57vh;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    color: white;
                    background-image: linear-gradient(to right, rgba(44, 62, 80, 1), rgba(44, 62, 80, 0));

                    .details {
                        width: 38%;

                        button {
                            width: 20%;
                            height: 40px;
                            color: white;
                            border: none;
                            background-color: rgba(0, 51, 153, 1);
                        }
                    }

                    .photo {
                        width: 35%;
                        height: 70%;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .backgroundimage {
                    width: 100%;
                    height: 57vh;
                }

            }
        }

        .carousel-buttons {
            width: 100%;
            height: 8vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 1%;
            padding-right: 1%;

            .carousel-indicators1 {
                width: 8%;
                display: flex;
                justify-content: space-between;

                button {
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    border: none;
                    background-color: rgb(213, 213, 213);
                }

                .active {
                    background-color: rgba(0, 51, 153, 1);
                }
            }

            .navigation-buttons {
                width: 6%;
                display: flex;
                justify-content: space-between;
                button {
                    border: none;

                    span {
                        border: none;

                        img {
                            height: 30px;
                            width: 30px;
                        }
                    }
                }
            }
        }
    }
} */



.container-fluid{
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    height: 65vh;
    margin: 0;
    padding: 0;
    ::ng-deep{
        .main{
            width: 100%;
            height: 56vh;
            .info{
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                padding: 0 3rem;
                background-image: linear-gradient(to right, rgba(44, 62, 80, 1), rgba(44, 62, 80, 0));
                .caption {
                    width: 38%;
                    text-align: left;
                    button {
                        width: 20%;
                        height: 40px;
                        color: white;
                        border: none;
                        background-color: rgba(0, 51, 153, 1);
                    }
                }
                .picsum-img-wrapper{
                    width: 55%;
                    height: 75%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .background{
                width: 100%;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

.buttons{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 1% 1% 0% 1%;
.slider-indicator{
    display: flex;
    gap: 10px;
    span {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: grey;
        &.active {
            background-color: rgba(0, 51, 153, 1);
        }
    }
}
.navigation-buttons{
    button{
        border: none;
        background: none;
        img{
            width: 70%;
        }
    }
}
}
}