.main {
    background-color: white;
    border-radius: 10px;
    width: 14.5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;

    img {
        width: 70%;
        height: auto;
    }

    .text {
        padding-top: 20px;

        h3 {
            color: blue;
            font-size: 20px;
        }

        p {
            text-align: center;
        }
    }
}

@media screen and (max-width:400px) {
    .main{
        width: 9rem;
        .text{
            h3{
                font-size: 12px;
            }
            p{
                font-size: 10px;
            }
        }
    }
}
@media (min-width:400px) and (max-width:600px) {
    .main{
        width: 10rem;
        .text{
            h3{
                font-size: 14px;
            }
            p{
                font-size: 12px;
            }
        }
    }
}
@media (min-width:600px) and (max-width:950px) {
    .main{
        width: 12.5rem;
        .text{
            h3{
                font-size: 16px;
            }
            p{
                font-size: 14px;
            }
        }
    }
}