
.slogans{
    width: 100%;
    display: flex;
    padding: 2rem 5rem;
    justify-content: space-around;
}
    .vision{
         width: 28%; 
         padding: 0.5rem 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        font: 'ubuntu';
      
        img{
            width: 50%;
        }
        p{
            font-size: 14px;
            line-height: 16px;
            padding: 0 10px;
        }
        h3{
            font-weight: 700;
            font-size: 22px;
            padding: 15px 12px;
        }
    }

