
<div class="Header">
    <div class="PageName">
        <p>Carousel</p>
    </div>
    <div class="AddFunction">
        <div class="popupModule">
            <!-- Button trigger modal -->
            <button (click)="AddFlag('add')" type="button" class="btn module-button" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop2" >
                Add Carousel
            </button>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel" *ngIf="AddCarousel">Add Carousel</h1>
                            <h1 class="modal-title fs-5" id="staticBackdropLabel" *ngIf="EditCarousel">Edit Carousel</h1>
                            <button id="cancel" type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="" [formGroup]="formValue">
                                <div formGroupName="carouselDetails">
                                    <ng-container formArrayName="0"> 
                                    <label for="CarouselHeader">Name</label>
                                    <input type="text" formControlName="name" class="CarouselHeader"
                                        placeholder="Enter name">
                                    </ng-container>
                                </div>
                                <div formGroupName="carouselDetails">
                                    <ng-container formArrayName="0"> 
                                    <label for="CarouselHeader">Description</label>
                                    <input type="text" formControlName="description" class="CarouselHeader"
                                        placeholder="Enter description">
                                    </ng-container>
                                </div>
                                
                                <div formGroupName="innerData">
                                    <ng-container formArrayName="0"> 
                                    <label for="CarouselHeader">Header</label>
                                    <input type="text" formControlName="header" class="CarouselHeader"
                                        placeholder="Enter header">
                                    </ng-container>
                                </div>
                               
                                <div formGroupName="innerData">
                                    <ng-container formArrayName="0"> 
                                    <label for="CarouselHeader">Carousel Text</label>
                                    <input formControlName="text" type="text" class="CarouselHeader"
                                        placeholder="Enter carousel text">
                                    </ng-container>
                                </div>
                                <div formGroupName="innerData">
                                    <ng-container formArrayName="0"> 
                                    <label for="CarouselHeader">Button Text</label>
                                    <input type="text" formControlName="buttonText"
                                        class="CarouselHeader" placeholder="Enter button text">
                                    </ng-container>
                                </div>

                                <div formGroupName="background">
                                    <ng-container formArrayName="0"> 
                                    <label for="CarouselHeader">Background Alt</label>
                                    <input type="text" formControlName="alt" class="CarouselHeader"
                                        placeholder="Enter Background alt">
                                    </ng-container>
                                </div>
                              
                               
                                <div formGroupName="image">
                                    <ng-container formArrayName="0"> 
                                    <label for="CarouselHeader">Image Alt</label>
                                    <input type="text" formControlName="alt" class="CarouselHeader"
                                        placeholder="Enter Background alt">
                                    </ng-container>
                                </div>
                                <div>
                                    <ng-container> 
                                    <label for="CarouselHeader">Route Link</label>
                                    <input type="text" formControlName="routeLink" class="CarouselHeader"
                                        placeholder="Enter Background alt">
                                    </ng-container>
                                </div>
                               
                            </form>
                        </div>
                         <div class="modal-footer" *ngIf="AddCarousel">
                            <button type="button" (click)="postBanData()" class="btn btn-secondary" data-bs-dismiss="modal">Submit</button>
                        </div>
                         <div class="modal-footer" *ngIf="EditCarousel">
                            <button (click)="update()">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="DataTable">
    
    <table>
        <thead class="head">
            <tr class="TableHeader">
                <th>IMAGE</th>
                <th>NAME</th>
                <th>CREATED ON</th>
                <th>CREATED BY</th>
                <th>MODIFIED ON</th>
                <th>MODIFIED BY</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tr *ngFor="let item of allBanDatas">
            <td *ngIf="item.image"><img [src]="item.image[0].url" [alt]="item.image[0].alt"></td>
            <!-- {{item | json}} -->
            <td>{{item.carouselDetails[0].name}}</td>
            <td>{{item.createdAt | date:"dd/MM/yyyy"}}</td>
            <td></td>
            <td>{{item.updatedAt | date:"dd/MM/yyyy"}}</td>
            <td></td>
            <td>
                <div class="actions">
                    <button (click)="AddFlag('edit')" (click)="editBanData(item)" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop2"  class="btn module-button">
                    <img src="assets/images/Edit.svg" alt="">
                </button>
                    <div class="Delete">
                        <div class="AddFunction">
                            <div class="popupModule">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn module-button" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop">
                                    <img src="assets/images/Delete.svg" alt="">
                                </button>   

                                <!-- Modal -->
                                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Warning!</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you shure you want to Delete this?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary"
                                                data-bs-dismiss="modal" (click)="deleteBanData(item)">YES</button>
                                            <button type="button" class="btn btn-danger"
                                                data-bs-dismiss="modal" id="donotdelte">NO</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>

                    <input type="checkbox" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="To Display Content on Frontend">
                </div>
            </td>
        </tr>
    </table>
    <div class="pagination">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
</div>