
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            JUNIOR COLLEGE
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
            <div class="details">
                <div class="timetable">
                    <h3>Exam TimeTable</h3>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingone-one-one">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseone-one" aria-expanded="false" aria-controls="flush-collapseone-one-one">
                            FYJC
                          </button>
                        </h2>
                        <div id="flush-collapseone-one-one" class="accordion-collapse collapse" aria-labelledby="flush-headingone-one-one" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingoneone-one-Two">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseoneone-one-Two" aria-expanded="false" aria-controls="flush-collapseoneone-one-Two">
                            SYJC
                          </button>
                        </h2>
                        <div id="flush-collapseoneone-one-Two" class="accordion-collapse collapse" aria-labelledby="flush-headingoneone-one-Two" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            
                          </div>
                        </div>
                      </div>
                </div>
                <div class="samplequestion">
                    <h3>Sample Questions</h3>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingone-two-one">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseone-two-one" aria-expanded="false" aria-controls="flush-collapseone-two-one">
                            FYJC
                          </button>
                        </h2>
                        <div id="flush-collapseone-two-one" class="accordion-collapse collapse" aria-labelledby="flush-headingone-two-one" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingone-two-two">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseone-two-two" aria-expanded="false" aria-controls="flush-collapseone-two-two">
                            SYJC
                          </button>
                        </h2>
                        <div id="flush-collapseone-two-two" class="accordion-collapse collapse" aria-labelledby="flush-headingone-two-two" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            
                          </div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="results">
                <h3>Exam Results</h3>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingone">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseone" aria-expanded="false" aria-controls="flush-collapseone">
                        FYJC
                      </button>
                    </h2>
                    <div id="flush-collapseone" class="accordion-collapse collapse" aria-labelledby="flush-headingone" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        SYJC
                      </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        
                      </div>
                    </div>
                  </div>
            </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            DEGREE COLLEGE
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
            <div class="details">
                <div class="timetable">
                    <h3>Exam TimeTable</h3>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingtwo-one-one">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsetwo-one-one" aria-expanded="false" aria-controls="flush-collapsetwo-one-one">
                            BA
                          </button>
                        </h2>
                        <div id="flush-collapsetwo-one-one" class="accordion-collapse collapse" aria-labelledby="flush-headingtwo-one-one" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            <ul>
                                <li>REGULAR</li>
                                <li>ATKT</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingtwo-one-two">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsetwo-one-two" aria-expanded="false" aria-controls="flush-collapsetwo-one-two">
                            B.COM
                          </button>
                        </h2>
                        <div id="flush-collapsetwo-one-two" class="accordion-collapse collapse" aria-labelledby="flush-headingtwo-one-two" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            <ul>
                                <li>REGULAR</li>
                                <li>ATKT</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="samplequestion">
                    <h3>Sample Questions</h3>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingtwo-two-one">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsetwo-two-one" aria-expanded="false" aria-controls="flush-collapsetwo-two-one">
                            BA
                          </button>
                        </h2>
                        <div id="flush-collapsetwo-two-one" class="accordion-collapse collapse" aria-labelledby="flush-headingtwo-two-one" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            <ul>
                                <li>REGULAR</li>
                                <li>ATKT</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingtwo-two-two">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsetwo-two-two" aria-expanded="false" aria-controls="flush-collapsetwo-two-two">
                            B.COM
                          </button>
                        </h2>
                        <div id="flush-collapsetwo-two-two" class="accordion-collapse collapse" aria-labelledby="flush-headingtwo-two-two" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            <ul>
                                <li>REGULAR</li>
                                <li>ATKT</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="results">
                <h3>Exam Results</h3>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingone">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseone" aria-expanded="false" aria-controls="flush-collapseone">
                        BA
                      </button>
                    </h2>
                    <div id="flush-collapseone" class="accordion-collapse collapse" aria-labelledby="flush-headingone" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        <ul>
                            <li>REGULAR</li>
                            <li>ATKT</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        B.COM
                      </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        <ul>
                            <li>REGULAR</li>
                            <li>ATKT</li>
                        </ul>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            SELF FINANCING COURSES
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
        <div class="accordion-body">
            <div class="details">
                <div class="timetable">
                    <h3>Exam TimeTable</h3>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingthree-one-one">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsethree-one-one" aria-expanded="false" aria-controls="flush-collapsethree-one-one">
                            BAF
                          </button>
                        </h2>
                        <div id="flush-collapsethree-one-one" class="accordion-collapse collapse" aria-labelledby="flush-headingthree-one-one" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            <ul>
                                <li>REGULAR</li>
                                <li>ATKT</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headithree-one-two">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsethree-one-two" aria-expanded="false" aria-controls="flush-collapsethree-one-two">
                            BAMMC
                          </button>
                        </h2>
                        <div id="flush-collapsethree-one-two" class="accordion-collapse collapse" aria-labelledby="flush-headingthree-one-two" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            <ul>
                                <li>REGULAR</li>
                                <li>ATKT</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingthree-one-three">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsethree-one-three" aria-expanded="false" aria-controls="flush-collapsethree-one-three">
                            BMS
                          </button>
                        </h2>
                        <div id="flush-collapsethree-one-three" class="accordion-collapse collapse" aria-labelledby="flush-headingthree-one-three" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            <ul>
                                <li>REGULAR</li>
                                <li>ATKT</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingthree-one-four">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsethree-one-four" aria-expanded="false" aria-controls="flush-collapsethree-one-four">
                            BSCIT
                          </button>
                        </h2>
                        <div id="flush-collapsethree-one-four" class="accordion-collapse collapse" aria-labelledby="flush-headingthree-one-four" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            <ul>
                                <li>REGULAR</li>
                                <li>ATKT</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="samplequestion">
                    <h3>Sample Questions</h3>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingthree-two-one">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsethree-two-one" aria-expanded="false" aria-controls="flush-collapsethree-two-one">
                            BAF
                          </button>
                        </h2>
                        <div id="flush-collapsethree-two-one" class="accordion-collapse collapse" aria-labelledby="flush-headingthree-two-one" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            <ul>
                                <li>REGULAR</li>
                                <li>ATKT</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingthree-two-two">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsethree-two-two" aria-expanded="false" aria-controls="flush-collapsethree-two-two">
                            BAMMC
                          </button>
                        </h2>
                        <div id="flush-collapsethree-two-two" class="accordion-collapse collapse" aria-labelledby="flush-headingthree-two-two" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            <ul>
                                <li>REGULAR</li>
                                <li>ATKT</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingthree-two-three">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsethree-two-three" aria-expanded="false" aria-controls="flush-collapsethree-two-three">
                            BMS
                          </button>
                        </h2>
                        <div id="flush-collapsethree-two-three" class="accordion-collapse collapse" aria-labelledby="flush-headingthree-two-three" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            <ul>
                                <li>REGULAR</li>
                                <li>ATKT</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingthree-two-four">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsethree-two-four" aria-expanded="false" aria-controls="flush-collapsethree-two-four">
                            BSCIT
                          </button>
                        </h2>
                        <div id="flush-collapsethree-two-four" class="accordion-collapse collapse" aria-labelledby="flush-headingthree-two-four" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            <ul>
                                <li>REGULAR</li>
                                <li>ATKT</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="results">
                <h3>Exam Results</h3>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingone">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseone" aria-expanded="false" aria-controls="flush-collapseone">
                        BAF
                      </button>
                    </h2>
                    <div id="flush-collapseone" class="accordion-collapse collapse" aria-labelledby="flush-headingone" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        <ul>
                            <li>REGULAR</li>
                            <li>ATKT</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        BAMMC
                      </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        <ul>
                            <li>REGULAR</li>
                            <li>ATKT</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingthree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsethree" aria-expanded="false" aria-controls="flush-collapsethree">
                        BMS
                      </button>
                    </h2>
                    <div id="flush-collapsethree" class="accordion-collapse collapse" aria-labelledby="flush-headingthree" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        <ul>
                            <li>REGULAR</li>
                            <li>ATKT</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingfour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapsefour">
                        BSCIT
                      </button>
                    </h2>
                    <div id="flush-collapsefour" class="accordion-collapse collapse" aria-labelledby="flush-headingfour" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        <ul>
                            <li>REGULAR</li>
                            <li>ATKT</li>
                        </ul>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingfour">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsefour" aria-expanded="true" aria-controls="panelsStayOpen-collapsefour">
            MASTER OF COMMERCE (M.COM)
          </button>
        </h2>
        <div id="panelsStayOpen-collapsefour" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingfour">
          <div class="accordion-body">
              <div class="details">
                  <div class="timetable">
                      <h3>Exam TimeTable</h3>
                      <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingfour-one-one">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour-one-one" aria-expanded="false" aria-controls="flush-collapsefour-one-one">
                                REGULAR
                            </button>
                          </h2>
                          <div id="flush-collapsefour-one-one" class="accordion-collapse collapse" aria-labelledby="flush-headingfour-one-one" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                              
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingfour-one-two">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour-one-two" aria-expanded="false" aria-controls="flush-collapsefour-one-two">
                              ATKT
                            </button>
                          </h2>
                          <div id="flush-collapsefour-one-two" class="accordion-collapse collapse" aria-labelledby="flush-headingfour-one-two" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                              
                            </div>
                          </div>
                        </div>
                  </div>
                  <div class="samplequestion">
                      <h3>Sample Questions</h3>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingfour-two-one">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour-two-one" aria-expanded="false" aria-controls="flush-collapsefour-two-one">
                            SEMESTER I
                          </button>
                        </h2>
                        <div id="flush-collapsefour-two-one" class="accordion-collapse collapse" aria-labelledby="flush-headingfour-two-one" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingfour-two-two">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour-two-two" aria-expanded="false" aria-controls="flush-collapsefour-two-two">
                            SEMESTER II
                          </button>
                        </h2>
                        <div id="flush-collapsefour-two-two" class="accordion-collapse collapse" aria-labelledby="flush-headingfour-two-two" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingfour-two-three">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour-two-three" aria-expanded="false" aria-controls="flush-collapsefour-two-three">
                            SEMESTER III
                          </button>
                        </h2>
                        <div id="flush-collapsefour-two-three" class="accordion-collapse collapse" aria-labelledby="flush-headingfour-two-three" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingfour-two-four">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour-two-four" aria-expanded="false" aria-controls="flush-collapsefour-two-four">
                            SEMESTER IV
                          </button>
                        </h2>
                        <div id="flush-collapsefour-two-four" class="accordion-collapse collapse" aria-labelledby="flush-headingfour-two-four" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
              <div class="results">
                  <h3>Exam Results</h3>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingone">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseone" aria-expanded="false" aria-controls="flush-collapseone">
                          REGULAR
                      </button>
                    </h2>
                    <div id="flush-collapseone" class="accordion-collapse collapse" aria-labelledby="flush-headingone" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        ATKT
                      </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        
                      </div>
                    </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
  </div>
