<div class="main-container">
    <div class="notice-container">
      <div class="info-container">
        <div class="main-div" *ngFor="let data of NoticeDetails">
          <p-button (click)="showMaximizableDialog()" class="mainbutton">
            <div class="upper">
              <h3 class="noticename">{{data.noticeHeader}}</h3>
              <p class="Date">{{data.createdAt}}</p>
            </div>
            <div class="lower">
              {{data.noticeContentName}}
            </div>
          </p-button>
          <p-dialog header="Notice Name" [(visible)]="displayMaximizable" [style]="{width: '50vw'}"
            [maximizable]="true" [baseZIndex]="10000">
            <iframe [src]="data.driveLink"></iframe>
            <ng-template pTemplate="footer">
              <p>{{data.createdAt}}</p>
              <p>{{data.createdBy}}</p>
              <p-button icon="pi pi-check" (click)="displayMaximizable=false" label="Close"
                class="p-button-text"></p-button>
            </ng-template>
          </p-dialog>
        </div>
      </div>
    </div>
  </div>
  