<div class="noticePage">
    <table>
        <thead class="head">
            <tr>
                <th>Notices</th>
                <th>Date</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="https://admission.onfees.com/admissionLogin?instituteId=447&formType=atkt&formPolicyId=82"
                        target="_blank">ATKT Form (sem 5 and sem 6)</a></td>
                <td>last Date 30/03/2023</td>
            </tr>
            <tr>
                <td><a href="https://drive.google.com/drive/folders/1BxpQtmxCPCrmBGEF1zUi-wwAnRZesJ1G?usp=share_link"
                        target="_blank">Notice 1 </a></td>
                <td>last Date 04/04/2023</td>
            </tr>
            <tr>
                <td><a href="https://drive.google.com/drive/folders/1C2MwmiNufNRGx0GjKzgF_hVA6umxOuK_?usp=share_link"
                        target="_blank">notice 2</a></td>
                <td>last Date 08/04/2023</td>
            </tr>
            <tr>
                <td><a href="https://drive.google.com/drive/folders/1C42jEb6dpvmYHNs6UMh02557mr6fDCQg?usp=share_link"
                        target="_blank">notice 3</a></td>
                <td>last Date 10/04/2023</td>
            </tr>
            <tr>
                <td><a href="https://drive.google.com/drive/folders/1C4fk0MmTLMzkzTbnrVbSr-Gb4aKO34AU?usp=share_link"
                        target="_blank">notice 4</a></td>
                <td>last Date 13/04/2023</td>
            </tr>

        </tbody>
        <!-- <tfoot>
                <tr>
                    <th><button onclick="previous()">Previous</button></th>
                    <th><span>Page no.</span><span id="num" value="1">1</span></th>
                    <th><button onclick="next()">Next</button></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                     </tr>
            </tfoot> -->
    </table>
</div>