li {
    margin-top: 20px;
    font-size: 19px;

    a {
        text-decoration: none;
        color: black;
        font-size: 20px;
    }
}

.details {
    padding: 2% 1%;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;

    table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
    }

    table caption {
        font-size: 1.5em;
        margin: .5em 0 .75em;
    }

    table tr {
        background-color: #fff;
        border: 1px solid #e1e5e9;
        padding: .35em;
        border-radius: 3px;
    }

    table thead tr:first-child {
        border: 1px solid #0f82e6;
    }

    table th,
    table td {
        padding: 1.625em;
        text-align: center;
        // color: #9da9b9;
        font-size: 14px;
        // font-family: cursive;
    }

    table td:nth-child(4) {
        font-size: 18px;
    }

    table th {
        font-size: .85em;
        letter-spacing: .1em;
        text-transform: uppercase;
        background: linear-gradient(180deg, #003399 0%, #4D70B8 100%);
        color: #FFF;
    }

    table tbody tr td .btn-invoice {
        background: #0f82e6;
        color: #FFF;
        font-size: 13px;
        padding: 10px 20px;
        border: 0;
        font-family: cursive;
    }

    tbody tr:nth-child(even) {
        background-color: #eee;
    }

    tbody tr:nth-child(odd) {
        background-color: #fff;
    }

    table td.fit,
    table th.fit {
        white-space: nowrap;
        width: 1%;
    }

    .table-dark {
        background-color: blue;
    }


}

.facultyinfo {
    margin-bottom: 2%;
    padding: 3%;
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    gap: 2rem;
    background-color: rgb(235, 235, 235);

    img {
        width: 27%;
    }

    .facultyname {


        h2 {
            color: rgba(0, 51, 153, 1);
            font-weight: 700;

        }

        p {
            font-size: 17px;
            padding: 16px 3px;
        }
    }
}






@media screen and (max-width:550px) {
    li {
        a {
            font-size: 14px;
        }
    }

    .details {
        padding: 4px 17px;
        font-size: 11px;

        h1 {
            font-size: 13px;
            font-weight: 700;
        }

        p {
            font-size: 0.78rem;
        }

        ul li {
            font-size: 13px;
            padding: 4px 17px;
        }

        h3 {
            font-size: 15px;
        }
    }

    .facultyinfo {
        .facultyname {
            h2 {
                font-size: 20px;
            }

            p {
                font-size: 13px;
                padding: 1px 7px
            }
        }
    }
}


@media (min-width:550px) and (max-width:810px) {
    li {
        a {
            font-size: 16px;
        }
    }

    .details {
        padding: 4px 17px;

        // font-size: 13px;
        h1 {
            font-size: 16px;
            font-weight: 700;
        }

        p {
            font-size: 0.95rem;
        }

        ul li {
            font-size: 15px;
            padding: 4px 17px;
        }

        h3 {
            font-size: 17px;
        }
    }

    .facultyinfo {
        .facultyname {
            h2 {
                font-size: 23px;
            }

            p {
                font-size: 15px;
                padding: 7px 3px;
            }
        }
    }
}

@media (min-width:810px) and (max-width:1100px) {
    li {
        a {
            font-size: 18px;
        }
    }

    .details {
        padding: 4px 17px;
        font-size: 19px;

        h1 {
            font-size: 19px;
            font-weight: 700;
        }

        p {
            font-size: 1.1rem;
        }

        ul li {
            font-size: 17px;
            padding: 4px 17 px;
        }

    }

}