<div class="container-testimonials">
    <div class="testimonial-header" *ngIf="cardConfig" data-aos="zoom-in-left" data-aos-duration="10000">
        <h1 class="testimonial-header-title">{{cardConfig.title}}</h1>

    </div>
    <div class="container-box-testimonials">
        <app-card-carousel *ngFor="let data of cardConfig.slides" [cardData]="data"></app-card-carousel>
    </div>
    <div class="functionbuttons">
        <div class="navigationbutton">
            <button (click)="previousSlide()">
                <img src="assets/images/previous.svg" alt="">
            </button>
            <button (click)="nextSlide()">
                <img src="assets/images/next.svg" alt="">
            </button>
        </div>
    </div>
</div>