@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

.container-testimonials {
    background: #ECECEC;
    height: 100%;
    margin: 0 60px;
    padding: 0 5rem;
    flex-direction: column;
    gap: 65px;
    position: relative;
    margin-bottom: 36px;

}

.testimonial-header {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 0 2rem;
}

.testimonial-header-title {
    font-family: 'Ubuntu';
    font-size: 36px;
    color: #003399;
    font-weight: 700;
}

.testi-dis {
    color: #9E9D9D;
    font-weight: 400;
    font-size: 24px;
    font-family: 'Ubuntu';
}

.container-box-testimonials {
    display: flex;
    gap: 65px;
    width: 87%;
    height: 388px;
    margin: 0 auto;
}


.functionbuttons {
    width: 100%;
    display: flex;
    justify-content: right;
    padding: 21px 43px;

    .navigationbutton {
        button {
            border: none;

            img {
                width: 70%;
            }
        }
    }
}