<div class="container-fluid">
    <ngb-carousel #ngCarousal carousel [interval]="10000" [showNavigationArrows]="false" [showNavigationIndicators]="false">
        <ng-template ngbSlide>
            <div class="main">
                <div class="card">
                    <img src="assets/image/ITlab.png" alt="">
                    <div class="text">
                        <h3>IT Lab</h3>
                        <p>Chetana boasts of an excellent IT infrastructure that supports its pedagogy of out-of-class
                            learning.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/image/canteen.jpg" alt="">
                    <div class="text">
                        <h3>Canteen</h3>
                        <p>The cafeteria is not just a food joint but a place to relax, interact, rejuvenate and take a
                            refuge from the daily hectic schedule!!!</p>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/image/library.jpg" alt="">
                    <div class="text">
                        <h3>Libary</h3>
                        <p>The Library of CHETANA’S Hazarimal Somani College of Commerce & Economics, Smt. Kusumtai
                            Chaudhari College of Arts, was established in 1970.</p>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="main">
                <div class="card">
                    <img src="assets/image/sports.jpg" alt="">
                    <div class="text">
                        <h3>Sports</h3>
                        <p>Gymkhana Section of our college conducts and participate in different sports activities at
                            College, University, State and National level.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/image/auditorium.jpg" alt="">
                    <div class="text">
                        <h3>Auditorium</h3>
                        <p>At Chetana’s, we feel learning need not be restricted to a classroom. A state-of-the-art
                            auditorium, complete with a sophisticated sound system and audio visual aids, is the perfect
                            dais on which our students’ latent talents can bloom.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/image/library.jpg" alt="">
                    <div class="text">
                        <h3>Libary</h3>
                        <p>The Library of CHETANA’S Hazarimal Somani College of Commerce & Economics, Smt. Kusumtai Chaudhari College of Arts, was established in 1970.</p>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-carousel>
    <div class="buttons">
        <div class="navigation-buttons">
            <button (click)="previousSlide()">
                <img src="assets/image/BoxLeftArrow.svg" alt="">
            </button>
            <button (click)="nextSlide()">
                <img src="assets/image/BoxRightArrow.svg" alt="">
            </button>
        </div>

    </div>
</div>