{{CourseData | json}}

<!-- <div class="container detail" *ngIf="values">
    <app-left-img2 [LeftImage]="values.image"></app-left-img2>
    <div class="detailcard">
        <h4>{{values.header}}</h4>
        <div class="detailtext">
            <div class="duration" *ngFor="let datas of values.">
                <h4>{{datas.key}}:</h4>
                <h4>{{datas.value}}</h4>
            </div>
            <hr>
        </div>

        <div class="fees">
            <h3>{{values.feesdetail}}</h3>
        </div>
    </div> -->
    <!--  <div class="detailcard">
        <h4>COURSE FEATURES</h4>
        <div class="detailtext">
            <div class="duration">
                <h4>DURATION:</h4>
                <h4>3 years</h4>
            </div>
            <hr>
            <div class="students">
                <h4>STUDENTS:</h4>
                <h4>72</h4>
            </div>
            <hr>
            <div class="language">
                <h4>LANGUAGES:</h4>
                <h4>ENGLISH</h4>
            </div>
            <hr>
        </div>
        <div class="fees">
            <h3>COURSES FEE 75000</h3>
        </div>
    </div> -->
<!-- </div> -->