

<!-- <div *ngFor="let data of pages[0].component">
    <app-header class="header" *ngIf="data.compId === 1" [headerData]="data.metadata"></app-header>
    <router-outlet (activate)="onActivate($event)"></router-outlet>
    <app-footer *ngIf="data.compId===8" [footerData]="data.metadata"></app-footer>
</div>



 <div *ngFor="let data of pages[0].component">
    <app-header class="header" *ngIf="data.compId === 1 && currentRoute !== '/admin/admindashboard' && currentRoute !== '/admin/auth/register' && !currentRoute.startsWith('/admin/admindashboard/') && currentRoute !== '/admin/auth/login' && currentRoute !== '/superadmin' && currentRoute !== '/superadminlogin'&&currentRoute !== '/superadminlogin' && currentRoute.indexOf('/admin/auth/login') !== 0"  [headerData]="data.metadata"></app-header>
    <router-outlet (activate)="onActivate($event)"></router-outlet>
    <app-footer *ngIf="data.compId === 8 && currentRoute !== '/admin/admindashboard' && currentRoute !== '/admin/auth/register' && currentRoute !== '/admin/auth/login' && currentRoute !== '/superadmin' && currentRoute !== '/superadminlogin' && !currentRoute.startsWith('/admin/admindashboard/') && currentRoute.indexOf('/admin/auth/login') !== 0 " [footerData]="data.metadata"></app-footer>
  </div> -->

<div *ngFor="let data of pages[0].component">
  <app-header class="header"
    *ngIf="data.compId === 1 && currentRoute !== '/admin/admindashboard' && currentRoute !== '/admin/auth/register' && !currentRoute.startsWith('/admin/admindashboard/') && currentRoute !== '/admin/auth/login' && currentRoute !== '/superadmin' && currentRoute !== '/superadminlogin' && currentRoute.indexOf('/admin/auth/login') !== 0"
    [headerData]="data.metadata"></app-header>
  <router-outlet (activate)="onActivate($event)"></router-outlet>
  <app-footer
    *ngIf="data.compId === 8 && currentRoute !== '/admin/admindashboard' && currentRoute !== '/admin/auth/register' && currentRoute !== '/admin/auth/login' && currentRoute !== '/superadmin' && currentRoute !== '/superadminlogin' && !currentRoute.startsWith('/admin/admindashboard/') && currentRoute.indexOf('/admin/auth/login') !== 0 "
    [footerData]="data.metadata"></app-footer>
</div>

