<div class="noticebar">
    <button><a herf="">Notice<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABmJLR0QA/wD/AP+gvaeTAAAAeUlEQVQ4jdWUMQ5AQBBFNxKFRCnchGOoOAS32NtQuRWJXvsUJDYblf2FffXkTf5MZoyJHqABRiBTyHLg4GJSCFNg5aFTSFtHuAOVQjo70kUhLIAtuuj2rSYJ7vIVoPcilyEy7VK82YVdjDqq9vTkz+GW1sCA4n39ghOMGvAcug9n1gAAAABJRU5ErkJggg==" >
    </a>
    </button>
    <div class="list" *ngIf="InputData">
        <marquee behavior="" direction="">
            <a href="">{{InputData.noticeLink1}}</a>|
            <a href="">{{InputData.noticeLink2}}</a>|
            <a href="">{{InputData.noticeLink3}}</a>|
            <a href="">{{InputData.noticeLink4}}</a>
        </marquee>
    </div>
</div>

