<div class="container-fluid cardcarousel">
    <ngb-carousel #ngCarousal [interval]="10000" [showNavigationArrows]="false" [showNavigationIndicators]="false">
        <ng-template ngbSlide>
            <div class="slide">
                <div class="card">
                    <div class="picsum-img-wrapper">
                        <img src="../../../assets/images/Chetana Logo.svg" alt="Random second slide" />
                    </div>
                    <div class="carousel-caption">
                        <h3>Second slide label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
        </ng-template>
        
        <ng-template ngbSlide *ngFor="let data of cardConfig">
            <div class="slide">
                <div class="card">
                    <div class="picsum-img-wrapper">
                        <img [src]="data.img.url" [alt]="data.img.alt">
                    </div>
                    <div class="carousel-caption">
                        <h3>{{data.data.cardHeading}}</h3>
                        <p>{{data.data.description}}</p>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-carousel>


    <div class="functionbuttons">
        <div class="navigationbutton">
            <button (click)="previousSlide()">
                <img src="../../../assets/images/left.svg" alt="">
            </button>
            <button (click)="nextSlide()">
                <img src="../../../assets/images/right.svg" alt="">
            </button>
        </div>

    </div>
</div>