<div class="ellipse-testimonials" *ngIf="cardData" >
    <div class="container-info-testimonials"  [ngStyle]="{backgroundImage:'url('+cardData.url+')'}">
    <div class="user-details">
        <h3>{{cardData.cardHeading}}</h3>
        <p>{{cardData.description}}</p>
    </div>
    </div>
</div>










 
<!-- <div class="container-fluid cardcarousel">
    <ngb-carousel #ngCarousal [interval]="10000" [showNavigationArrows]="false"
        [showNavigationIndicators]="false">
        <ng-template ngbSlide>
            
            <div class="slide">
            <div class="card">
                <div class="picsum-img-wrapper">
                    <img src="../../../assets/images/FACULTY.svg" alt="">
                    </div >
                <div class="carousel-caption">
                            <h3>kcswcsk</h3>
                            <p>wdjwdwd</p>
                </div>
            </div>
        </div>
        </ng-template>
    </ngb-carousel>


   
</div> -->





