.container{
    width: 100%;
    height: auto;
    background: linear-gradient(180deg, rgba(3, 53, 154, 0.9) 0%, rgba(77, 112, 184, 0.9) 100%);
    display: flex;
    padding: 40px;
    gap: 2rem;
    overflow-y: auto;
    scroll-behavior: smooth;
}