<div *ngFor="let data of pages[0].component">
    <app-notices class="notices" *ngIf="data.compID === 2" [InputData]="data.metadata"></app-notices>
    <app-banner-carousel class="banner-carousel" *ngIf="data.compId === 3" [carousel2]="data.metadata">
    </app-banner-carousel>
    <app-container1 class="aboutus-section" *ngIf="data.compId ===4" [mergedData]="data.metadata"></app-container1>
    <app-accordian-dropdwn *ngIf="data.compID === 5" [DropDownData]="data.metadata"></app-accordian-dropdwn>
    <app-our-campus *ngIf="data.compID === 5"></app-our-campus>
    <app-container2 *ngIf="data.compId===7" [sectionData]="data.metadata"></app-container2>

</div>