<div class="main">
    <div class="header" *ngFor="let data of pages[0].component">
        <app-header *ngIf="data.compId === 1" [headerData]="data.metadata"></app-header>
    </div>
    <div class="banner-carousel" *ngFor="let data of pages[0].component">
        <app-banner-carousel *ngIf="data.compId === 3" [carousel2]="data.metadata"></app-banner-carousel>
    </div>
    <app-container1 class="aboutus-section"></app-container1>
    <app-card-carousel></app-card-carousel>
    <div class="testimonials" *ngFor="let data of pages[0].component">
        <app-container3 *ngIf="data.compId===4" [sectionData]="data.metadata"></app-container3>
    </div>
    <div *ngFor="let data of pages[0].component"><!-- 
    <app-footer *ngIf="data.compId===5 [footerData]="data.metadata"></app-footer> -->
</div>
</div>