.top {
    width: auto;
    height: 9%;
    margin-top: 10px;
    padding-left: 8%;
    .heading {
        width: 28%;
        height: 3rem;
        border-radius: 10px 1px 10px 1px;
        box-shadow: 0px 0px 0px 6px white;
        background-color: rgba(0, 51, 153, 1);
        h3 {
            color: white;
            text-align: center;
            padding: 8px 22px;
            font-size: 22px;
        }
    }
}