.top {
    width: auto;
    height: 9%;
    margin-top: 10px;
    padding-left: 8%;

    .heading {
        //max-width: 35%;
        height: 3rem;
        border-radius: 10px 1px 10px 1px;
        box-shadow: 0px 0px 0px 6px white;
        background-color: rgba(0, 51, 153, 1);
        width: fit-content;
        min-width: 210px;
        padding: 0 5px;

        h3 {
            color: white;
            text-align: center;
            padding: 14px 3px;
            font-size: 16px;
        }
    }
}


@media screen and (max-width:350px) {
    .top {
        width: auto;
        height: 9%;

        .heading {
            height: 1.8rem;

            h3 {
                font-size: 9px;
                padding: 8px 3px;
                font-size: 0.625;
            }
        }
    }
}
/* @media screen and (max-width:350px){
    .top {
        width: auto;
        height: 9%;

        .heading {
            height: 1.8rem;

            h3 {
                font-size: 9px;
                padding: 8px 3px;
                font-size: 0.625;
            }
        }
    }
}
 */
@media (min-width:350px) and (max-width:550px) {
    .top {
        width: auto;
        height: 9%;

        .heading {
            height: 2rem;

            h3 {
                font-size: 11px;
                padding: 8px 3px;
                font-size: 0.625;
            }
        }
    }
}


@media screen and (max-width: 470px) {
//    .top{
//     padding: 14px 3px;
//     font-size: 16px;
//    }
  }

@media (min-width:550px) and (max-width:810px) {
    .top {
        width: auto;
        height: 9%;

        .heading {
            height: 2.3rem;

            h3 {
                font-size: 12.5px;
                padding: 8px 3px;
                font-size: 0.625;
            }
        }
    }
}
@media (min-width:810px) and (max-width:110px) {
    .top {
        width: auto;
        height: 9%;

        .heading {
            height: 2.7rem;

            h3 {
                font-size: 14.5px;
                padding: 8px 3px;
                font-size: 0.625;
            }
        }
    }
}
