<div class="container acedemic" >
  <app-left-img1 *ngFor="let datas of DropDownData" [ImageData]="datas.data" data-aos="flip-left"  data-aos-duration="10000"></app-left-img1>
  <div class="accordion" data-aos="zoom-in-left"  data-aos-duration="10000">
    <div *ngFor="let datas of DropDownData">
    <!-- {{DropDownData | json}} -->
    <ngb-accordion [closeOthers]="true"  *ngFor="let data of datas.AccordianData;let i = index">
      <ngb-panel [title]="data.Title" [id]="'static-'+i"> 
        <ng-template ngbPanelContent>
          <li *ngFor="let datas of data.SubTitles"><a *ngIf="datas" [routerLink]="datas.link">{{datas.title}}</a></li>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
  </div>
</div>