.speaker-main {
    display: flex;
    width: 19rem;
    height: 10rem;

    .speaker-info {
        width: 22rem;
        height: 10rem;

        display: flex;

        justify-content: center;

        padding-top: 12px;
    }

    .speaker-img {
        width: 8rem;
        height: 8rem;

        img {
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
        }
    }

    .speaker-name {
        width: 13rem;
        height: 8rem;
        padding: 3px 1px;
    }
}