.detail{
    width: 12rem;
    height: 12rem;
    background-color: black ;
}
#block1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 43rem;
    .details{
        width: 12rem;
        height: 12rem;
        background-color: blueviolet;
    }
    .detail-card{
        width: 12rem;
        height: 13rem;
        background-color: aqua;
    }
}
