<div class="background container">
  <div class="container">

    <div class="row">
      <img src="../../../assets/image/zinglin.jpg" alt="">
      <img src="../../../assets/image/Kotak company.jpg" alt="">
      <img src="../../../assets/image/aashman foundation.jpg" alt="">
      <img src="../../../assets/image/link group.png" alt="">
      <img src="../../../assets/image/machadalo.png" alt="">
      <img src="../../../assets/image/Jio-Logo.jpg" alt="">
      <img src="../../../assets/images/IDBIlogo.svg" alt="">
      <img src="../../../assets/images/webappzaplogo.svg" alt="">
    </div>
  </div>
</div>