.container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.card-container {
    width: 20rem;
    height: 11.5rem;
    background: rgba(217, 217, 217, 0.37);
    box-shadow:  5px 6px 3px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    padding: 25px;
    margin:20px 15px 56px 15px; 
}
.left{
    display: flex;
    width: 45%;
    img{
        width: 96%;

    }
}
.right{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap:1rem;
    flex-wrap: nowrap;
    font-family: 'Ubuntu';
    h4{
        font-family: 'Ubuntu';
        font-size: 19px;
    }
}
button {
    width: 96.56px;
    height: 27px;
    border: 2px solid #003399;
    box-shadow: 1px 2px 0 rgb(0, 51, 153,0.5);
    border-radius: 10px;
    font-size: 13px;
    a{
        color:#003399
    }
}